<?xml version='1.0' encoding='utf-8'?>
<widget version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Easier service</name>
    <description>
      App to clients
  </description>
    <author email="idvazquezrivera@gmail.com" href="http://ivanvazquez.top">
     Ivan Vazquez
  </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="SplashScreen" value="/img/loading.gif" />
    <preference name="SplashScreenDelay" value="1000" />
    <preference name="SplashScreenBackgroundColor" value="#e5eff1" />
    <platform name="android">
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="SplashScreenDelay" value="0" />
    </platform>
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect --ignore-gpu-blacklist" />
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="iosExtraFilesystems" value="library,library-nosync,documents,documents-nosync,cache,bundle,root" />
    <preference name="AndroidExtraFilesystems" value="files,files-external,documents,documents-nosync,cache,bundle,root" />
    <plugin name="cordova-plugin-media" />
    <plugin name="cordova-plugin-media-capture"  />
    <plugin name="cordova-plugin-camera"   />
    <plugin name="cordova-plugin-whitelist"   />
    <plugin name="cordova-plugin-device"  />
    <plugin name="cordova-plugin-statusbar" />
    <plugin name="cordova-plugin-dialogs"   />
    <plugin name="cordova-plugin-file-transfer" />
    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-datepicker" spec="https://github.com/VitaliiBlagodir/cordova-plugin-datepicker" />
    <engine name="ios" spec="^4.5.4" />
    <engine name="browser" spec="^5.0.3" />
    <engine name="android" spec="^7.1.0" />
</widget>
